.App {
    text-align: center;
}


/* removes the default margin and padding from the bootstrap container*/

.container {
    margin: 0;
    padding: 0;
}


/* positioning of the launch list and makes is slightly seethrough */

.launch-list-style {
    padding-top: 250px;
    opacity: 0.97;
}


/* sets height and position for the whole page */

html {
    position: relative;
    min-height: 100%;
    background-color: #f8f9fa;
}


/* Margin bottom by footer height */

body {
    margin-bottom: 60px;
}


/* Sets the fixed height of the footer */

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #212529;
}


/* imports the background image and sets its height and width to fit the page */

.bg-img {
    background-image: url("spacexbg.jpg");
    height: 980px;
    width: 100%;
}